@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/****************************la page**********************************/
.page_front{
	width : 80%;
	margin:auto;
}

.page_front {
	font-family: 'Lato Regular', sans-serif;					
}

/***************************titre lato Bolt***************************/
.page_front h3,strong {
	font-family: 'Lato Bold', sans-serif;
	font-weight: bold;
	display: inline-block;
}

.page_front h2 {
	font-family: 'Lato Bold', sans-serif;
	font-weight: bold;
	width:100%;
	text-align: center;
	margin: 5% 0%;
}

.page_front h4{
	font-family: 'Lato Bold', sans-serif;
	display: inline-block;
	font-weight: bold;
	font-size:100%;
}
.page_front h1{
	font-family: 'Lato Bold', sans-serif;
	font-weight: bold;
	font-size : 100%;
	display: inline-block;
}

/**************section et ligne horizontal(2block)*******************/
/*section, .lineHorizon{
	margin : 3% auto;
	flex: 0 0 100%;
    max-width: 100%;
}*/

section.blockContactezNous{
	margin : 0% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

section.block{
	margin : 2% auto 5% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

section.slide2block {
	margin :5% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

section.slide3block{
	margin :5% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

section.blockPartenaire{
	margin :5% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

section.blockCCMarche{
	margin :5% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

section.savoirPlus{
	margin :5% auto 0% auto;
	flex: 0 0 100%;
    max-width: 100%;
}

/****************************ligne vertical(2block)**********************************/
.vertical-line{
        border-left: 2px solid #D3D3D3;
        display: inline-block;
        }

/*************footer******************/
footer{
	margin : 0% auto;
	background-color : grey;
	color : white;
	flex: 0 0 100%;
    
	}

footer > .col-lg-12 {
	margin : 2% 0%;
}

footer > .col-lg-12 img {
	width: 20%;
}

/*************button connectez_vous***************/
.btn-warning_pos1{
	border-radius: 15px;
	margin-top: 5%;
	font-size:150%;
	border: none;
	padding: 2% 8%;
	color: white;
	background-color: #F8B439;
}

/*************button connectez_vous***************/
.btn-warning_pos2{
	border-radius: 15px;
	margin-top: 8%;
	font-size:170%;
	border: none;
	padding: 0.8% 3%;
	color: white;
	background-color: #F8B439;
}

/************position et format text Connectez-vous*************/
.blockContactezNous > .col-lg-4 > div >div{
	margin-top :50%;
	font-family: 'Lato Bold', sans-serif;
	color:#3C3939;
	font-size: 200%;
	font-weight: bold;
}

/***********image catalogue Connectez-vous**************/
.blockContactezNous > .col-lg-8 img {
	width:100%
}

/***************decription catalogue********************/
.block{
	font-family: 'Lato Regular', sans-serif;
	background-color : #F4F4F4;
	text-align : center;
	font-size:150%;
}

/************************Partenaire***********************/
.blockPartenaire > .col-lg-12 > div >img {
	
width: 10%;
height:auto;
margin :0% 4%;
}

.blockPartenaire > .col-lg-12 > div{

background-color: #F4F4F4;
padding: 3% 0 0 7%;
text-align: center;
}


.blockCCMarche > div video {
	width :50%;
	margin:auto;
}

/******************************slide2block Liste******************************/


.slide2block > .col-lg-5 > div li ,.savoirPlus > .col-lg-12 > div,li{
	list-style: none;
	font-family: 'Lato Regular', sans-serif;
}

.slide2block > .col-lg-5 > div h3{
	margin-top: 12%;
}

.slide2block > .col-lg-5 > div li::before {
	
	content: "●";
	color: #DCDCDC;
  	display: inline-block;
  	width: 1em;
  	margin-left: -1em;
}
.slide2block img.img1{
	width: 10%;
	height: auto;
}

.slide2block img.img2{
	width: 15%;
	height: auto;
}




/*******************************slide3block*******************************/
.slide3block > .col-lg-4 >div{
	
	border-radius: 50px;
	box-shadow: 1px 4px 4px 4px #D3D3D3;
	text-align: center;
	height:100%;
	
	font-family: 'Lato Regular', sans-serif;
	padding: 15%;
	}

	.slide3block > .col-lg-4 >div h2{
	
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
	}


/************************slide3block image*******************************/
.slide3block > .col-lg-4  img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

/***************************bloc savoir plus*****************************/

.savoirPlus > .col-lg-12 > div p{
	font-family: 'Lato Bold', sans-serif;
	font-weight: bold;
	font-size : 200%;
}


.savoirPlus{
	background-color : #F4F4F4;
	padding : 2%;
	margin-bottom : 5%
}

.savoirPlus > .col-lg-12 > div li::before {
	content: "●";
	color: #8FBC8F;
  	display: inline-block;
  	width: 1em;
  	margin-left: -1em
  }
  
.dimensions{
	width:6%;
	heigth:auto;

